<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script>
{% if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl = 
 '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

{% if page.comments %}
  {% include _disqus_comments.html %}
{% endif %}
{% include _disqus_count.html %}

{% if page.share != false %}
<script>
  $(document).ready(function() {
    $(".social-share .twitter").on("click", function (evt) {
      evt.preventDefault();

      var url = "https://twitter.com/intent/tweet?" + $.param({
        url: "{{ site.url }}{{ page.url }}",
        text: "{{ page.title }}"
        {% if site.owner.twitter %}, via: "{{ site.owner.twitter }}"{% endif %}
      });

      var popupWidth = 550,
          popupHeight = 420,
          screenWidth = screen.width,
          screenHeight = screen.height,
          popupLeftOffset = Math.round(screenWidth / 2 - popupWidth / 2),
          popupTopOffset = 0;
      if (screenHeight > popupHeight) {
        popupTopOffset = Math.round(screenHeight / 2 - popupHeight / 2);
      }
      window.open(url, null, "scrollbars=yes,resizable=yes,toolbar=no,location=yes" + ", width=" + popupWidth + ", height=" + popupHeight + ", left=" + popupLeftOffset + ",top=" + popupTopOffset);
    });
  });
</script>
{% endif %}