<div class="social-share">
  <h4>{{ site.data.t[page.lang].share }}</h4>
  <ul>
    <li>
      <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ page.url }}{% if site.owner.twitter %}&via={{ site.owner.twitter }}{% endif %}" class="twitter" title="{{ site.data.t[page.lang].share }} Twitter"><i class="fa fa-twitter"></i><span> Twitter</span></a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="facebook" title="{{ site.data.t[page.lang].share }} Facebook"><i class="fa fa-facebook"></i><span> Facebook</span></a>
    </li>
    <li>
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="google-plus" title="{{ site.data.t[page.lang].share }} Google Plus"><i class="fa fa-google-plus"></i><span> Google+</span></a>
    </li>
  </ul>
</div><!-- /.social-share -->