{% assign class = '' %}
{% if include.img3 %}
  {% assign class = 'third' %}
{% elsif include.img2 %}
	{% assign class = 'half' %}
{% endif %}

<figure {% unless class == '' %}class="{{ class }}"{% endunless %}>
	{% if include.img1 %}
	    <a href="{{ site.url }}/images/posts{{ page.url }}{{ include.img1 }}"><img src="{{{ site.url }}/images/posts{{ page.url }}{{ include.img1 }}"></a>
	{% endif %}
	{% if include.img2 %}
	    <a href="{{ site.url }}/images/posts{{ page.url }}{{ include.img2 }}"><img src="{{ site.url }}/images/posts{{ page.url }}{{ include.img2 }}"></a>
	{% endif %}
	{% if include.img3 %}
	    <a href="{{ site.url }}/images/posts{{ page.url }}{{ include.img3 }}"><img src="{{ site.url }}/images/posts{{ page.url }}{{ include.img3 }}"></a>
	{% endif %}

	{% if include.caption %}
		<figcaption>{{ include.caption }}</figcaption>
	{% endif %}
</figure>
