---
layout: base
related_posts: true
class: post
---

<article class="post">
  <div class="headline-wrap">
    {% if page.link %}
      <h1><a href="{{ page.link }}">{{ page.title }}</a></h1>
    {% else %}
      <h1><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}">{{ page.title }}</a></h1>
    {% endif %}
    <p class="byline">
    {% if site.owner.disqus-shortname and page.comments == true %}
      <span class="comments"><i class="fa fa-fw fa-comments-o"></i><a href="{{ site.url }}{{ page.url }}#disqus_thread"></a></span>
    {% endif %}
    <strong>{{ site.data.t[page.lang].published }}:</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{% include _date.html date=page.date %}</time>{% if page.modified %}<br> <strong>{{ site.data.t[page.lang].modified }}:</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{% include _date.html date=page.modified %}</time>{% endif %}
    </p>
    
  </div><!--/ .headline-wrap -->
  <div class="article-wrap">
    {{ content }}
    <hr />
    <footer role="contentinfo">
      {% if page.share != false %}{% include _social-share.html %}{% endif %}
    </footer>
  </div><!-- /.article-wrap -->
{% if site.owner.disqus-shortname and page.comments == true %}
  <section id="disqus_thread"></section><!-- /#disqus_thread -->
{% endif %}
</article>
